/********** Template CSS **********/
:root {
    --primary: maroon;
    --secondary: #555555;
    --light: #F1F3FA;
    --dark: #1C2035;
}

.back-to-top {
    position: fixed;
    display: none;
    right: 30px;
    bottom: 30px;
    z-index: 99;
}

.fw-medium {
    font-weight: 500;
}


/*** Spinner ***/
#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-out, visibility 0s linear .5s;
    z-index: 99999;
}

#spinner.show {
    transition: opacity .5s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}


/*** Button ***/
.btn {
    transition: .5s;
    font-weight: 500;
    background-color: maroon;
}

.btn-primary,
.btn-outline-primary:hover {
    
    
}

.btn-secondary,
.btn-outline-secondary:hover {
    background-color: maroon;

}

.btn-square {
    width: 38px;
    height: 38px;
    background-color: maroon;

}

.btn-sm-square {
    width: 32px;
    height: 32px;
    background-color: maroon;

}

.btn-lg-square {
    width: 48px;
    height: 48px;
    background-color: maroon;

}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
}
.btn-play{
    background-color: maroon;
}


/*** Header ***/
.carousel-caption {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    background: rgba(0, 0, 0, .1);
    z-index: 1;
}

.carousel-control-prev,
.carousel-control-next {
    width: 15%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 3.5rem;
    background-color: var(--primary);
    border: 15px solid var(--primary);
}

@media (max-width: 768px) {
    #header-carousel .carousel-item {
        position: relative;
        min-height: 450px;
    }
    
    #header-carousel .carousel-item img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.page-header {
    background: linear-gradient(rgba(0, 0, 0, .1), rgba(0, 0, 0, .1)), url(../img/carousel-1.jpg) center center no-repeat;
    background-size: cover;
}

.page-header .breadcrumb-item+.breadcrumb-item::before {
    color: var(--light);
}

.page-header .breadcrumb-item,
.page-header .breadcrumb-item a {
    font-size: 18px;
    color: var(--light);
}


/*** Features ***/
.feature-row {
    box-shadow: 0 0 45px rgba(0, 0, 0, .08);
}

.feature-item {
    border-color: rgba(0, 0, 0, .03) !important;
    
}


/*** About ***/
.about {
    background: linear-gradient(rgba(0, 0, 0, .1), rgba(0, 0, 0, .1)), url(./images/asia-culturecenter-COWf-5ZtZ6w-unsplash.jpg) left center no-repeat;
    background-size: cover;
}

.btn-play {
    position: relative;
    display: block;
    box-sizing: content-box;
    width: 36px;
    height: 46px;
    border-radius: 100%;
    border: none;
    outline: none !important;
    padding: 18px 20px 20px 28px;
    background: var(--primary);
}

.btn-play:before {
    content: "";
    position: absolute;
    z-index: 0;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: block;
    width: 90px;
    height: 90px;
    background: var(--primary);
    border-radius: 100%;
    animation: pulse-border 1500ms ease-out infinite;
}

.btn-play:after {
    content: "";
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: block;
    width: 90px;
    height: 90px;
    background: var(--primary);
    border-radius: 100%;
    transition: all 200ms;
}

.btn-play span {
    display: block;
    position: relative;
    z-index: 3;
    width: 0;
    height: 0;
    left: 3px;
    border-left: 30px solid #FFFFFF;
    border-top: 18px solid transparent;
    border-bottom: 18px solid transparent;
}

@keyframes pulse-border {
    0% {
        transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
        opacity: 1;
    }

    100% {
        transform: translateX(-50%) translateY(-50%) translateZ(0) scale(2);
        opacity: 0;
    }
}

.modal-video .modal-dialog {
    position: relative;
    max-width: 800px;
    margin: 60px auto 0 auto;
}

.modal-video .modal-body {
    position: relative;
    padding: 0px;
}

.modal-video .close {
    position: absolute;
    width: 30px;
    height: 30px;
    right: 0px;
    top: -30px;
    z-index: 999;
    font-size: 30px;
    font-weight: normal;
    color: #FFFFFF;
    background: #000000;
    opacity: 1;
}


/*** Service ***/
.service-item .service-text {
    position: relative;
    width: 100%;
    top: 0;
    left: 0;
    text-align: center;
    background: #FFFFFF;
    box-shadow: 0 0 45px rgba(0, 0, 0, .06);
    transition: .5s;
    z-index: 2;
}

.service-item:hover .service-text {
    top: -1.5rem;
}

.service-item .service-text h5 {
    transition: .5s;
}

.service-item:hover .service-text h5 {
    color: var(--primary);
}

.service-item .service-btn {
    position: absolute;
    width: 80%;
    height: 3rem;
    left: 10%;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FFFFFF;
    box-shadow: 0 0 45px rgba(0, 0, 0, .07);
    transition: .5s;
    z-index: 1;
}

.service-item:hover .service-btn {
    bottom: -1.5rem;
}


/*** Project ***/
.project-item {
    position: relative;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 0 45px rgba(0, 0, 0, .07);
}

.project-item .project-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, .5);
    opacity: 0;
    padding-top: 60px;
    transition: .5s;
}

.project-item:hover .project-overlay {
    opacity: 1;
    padding-top: 0;
}

.project-carousel .owl-nav {
    position: absolute;
    top: -100px;
    right: 0;
    display: flex;
}

.project-carousel .owl-nav .owl-prev,
.project-carousel .owl-nav .owl-next {
    margin-left: 15px;
    width: 55px;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--secondary);
    border-radius: 55px;
    box-shadow: 0 0 45px rgba(0, 0, 0, .15);
    font-size: 25px;
    transition: .5s;
}

.project-carousel .owl-nav .owl-prev:hover,
.project-carousel .owl-nav .owl-next:hover {
    background: var(--primary);
    color: #FFFFFF;
}

@media (max-width: 768px) {
    .project-carousel .owl-nav {
        top: -70px;
        right: auto;
        left: 50%;
        transform: translateX(-50%);
    }

    .project-carousel .owl-nav .owl-prev,
    .project-carousel .owl-nav .owl-next {
        margin: 0 7px;
        width: 45px;
        height: 45px;
        font-size: 20px;
    }
}


/*** Team ***/
.team-item {
    position: relative;
    text-align: center;
    box-shadow: 0 0 45px rgba(0, 0, 0, .07);
}

.team-item .team-social {
    position: absolute;
    padding: 0;
    top: 15px;
    left: 0;
    overflow: hidden;
}

.team-item .team-social li {
    list-style-type: none;
    margin-bottom: 10px;
    margin-left: -50px;
    opacity: 0;
    transition: .5s;
}

.team-item:hover .team-social li {
    margin-left: 15px;
    opacity: 1;
}

.team-item .team-social li .btn {
    background: #FFFFFF;
    color: var(--primary);
    border-radius: 40px;
    transition: .5s;
}

.team-item .team-social li .btn:hover {
    color: #FFFFFF;
    background: var(--primary);
}

.team-item .team-social li:nth-child(1) {
    transition-delay: .1s;
}

.team-item .team-social li:nth-child(2) {
    transition-delay: .2s;
}

.team-item .team-social li:nth-child(3) {
    transition-delay: .3s;
}

.team-item .team-social li:nth-child(4) {
    transition-delay: .4s;
}

.team-item .team-social li:nth-child(5) {
    transition-delay: .5s;
}


/*** Testimonial ***/
.testimonial-item {
    box-shadow: 0 0 45px rgba(0, 0, 0, .07);
    transition: .5s;
}

.owl-item .testimonial-item,
.testimonial-item * {
    transition: .5s;
}

.owl-item.center .testimonial-item,
.testimonial-item:hover {
    background: var(--primary);
}

.owl-item.center .testimonial-item *,
.testimonial-item:hover * {
    color: #FFFFFF !important;
}

.testimonial-item img {
    width: 100px !important;
    height: 100px !important;
    border-radius: 100px;
}

.testimonial-carousel .owl-nav {
    position: absolute;
    top: -100px;
    right: 0;
    display: flex;
}

.testimonial-carousel .owl-nav .owl-prev,
.testimonial-carousel .owl-nav .owl-next {
    margin-left: 15px;
    width: 55px;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--secondary);
    border-radius: 55px;
    box-shadow: 0 0 45px rgba(0, 0, 0, .15);
    font-size: 25px;
    transition: .5s;
}

.testimonial-carousel .owl-nav .owl-prev:hover,
.testimonial-carousel .owl-nav .owl-next:hover {
    background: var(--primary);
    color: #FFFFFF;
}
#para{
    color: maroon;
}

@media (max-width: 768px) {
    .testimonial-carousel .owl-nav {
        top: -70px;
        right: auto;
        left: 50%;
        transform: translateX(-50%);
    }

    .testimonial-carousel .owl-nav .owl-prev,
    .testimonial-carousel .owl-nav .owl-next {
        margin: 0 7px;
        width: 45px;
        height: 45px;
        font-size: 20px;
    }
}


.scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #790000; 
    color: #fff;
    padding-top: 8px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 8px;
    
    display: none;
    border: none;
    border-radius: 4px;
   
}

/* Style for the arrow icon */
.scroll-to-top::before {
    content: "\2191"; /* Unicode arrow-up character */
    font-size: 20px;
}

.divider1 {
    width: 95%;

    height: 3px;
    background: linear-gradient(to right, transparent, #ffffff, transparent);
}

   /* Container for the buttons */
   .button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  
}

/* Button styles */
.social-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 450px; /* Increased width for more space */
    height: 55px; /* Increased height for bigger icons */
    margin: 20px;
    border: 2px solid transparent; /* Transparent border initially */
    border-radius: 10px;
    padding: 10px;
    color: #ffffff; /* Text color */
    font-size: 18px; /* Text size */
    font-family: 'Poppins', sans-serif; /* Specify your desired font here */
    text-decoration: none;
    text-align: center;
    box-shadow: 5px 8px 10px rgba(0, 0, 0, 0.2); /* Default button shadow */
    transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out, 
                color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}


/* Button icons */
.social-button img {
    width: 48px; /* Increased icon size */
    height: 48px;
    margin-right: 16px; /* Increased margin for spacing */
}

/* Text styles */
.button-text {
    flex-grow: 1; /* Allow text to grow and take remaining space */
}

/* LinkedIn button */
.linkedin-button {
    background-color: #a10000; /* Lighter LinkedIn blue */
}

/* GitHub button */
.github-button {
  background-color: #a10000; /* Light gray */
}

/* Gmail button */
.gmail-button {
  background-color: #a10000; /* Lighter Gmail red */
}

/* WhatsApp button */
.whatsapp-button {
  background-color: #a10000; /* Lighter WhatsApp green */
}
.resume-button {
  background-color: #a10000;  /* Lighter WhatsApp green */
}


/* LinkedIn button */
.linkedin-button:hover {
background-color: #630000; /* Lighter LinkedIn blue */
  border-color: #630000; /* Border color on hover */
  color: #ffffff; 
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.3); /* Shadow on hover */
}

/* GitHub button */
.github-button:hover {
  background-color: #630000; /* Lighter LinkedIn blue */
  border-color: #630000; /* Border color on hover */
  color: #ffffff; 
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.3); /* Shadow on hover */
}
/* Gmail button */
.gmail-button:hover {
  background-color: #630000; /* Lighter LinkedIn blue */
  border-color: #630000; /* Border color on hover */
  color: #ffffff; 
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.3); /* Shadow on hover */
}

/* WhatsApp button */
.whatsapp-button:hover {
  background-color: #630000; /* Lighter LinkedIn blue */
  border-color: #630000; /* Border color on hover */
  color: #ffffff; 
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.3); /* Shadow on hover */
}
.resume-button:hover {
  background-color: #630000; /* Lighter LinkedIn blue */
  border-color: #630000; /* Border color on hover */
  color: #ffffff; 
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.3); /* Shadow on hover */
}

.fbutton:hover {
    color: #40b4da; /* Change the color immediately on hover */
    transform: scale(1.2);
}

.fbutton {
    color: #2093b9;
    transition: transform 0.2s ease-in-out;
}









    /* UTILITIES */
    * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



a {
  text-decoration: none;
}

li {
  list-style: none;
}

/* NAVBAR STYLING STARTS */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background: linear-gradient(to right, rgb(77, 0, 0), rgb(124, 0, 0));
  color: #fff;
}

.nav-links a {
  color: #fff;
}

/* LOGO */
.logo {
  font-size: 26px;
}

/* NAVBAR MENU */
.menu {
  display: flex;
  gap: 1em;
  font-size: 18px;
}

.menu li:hover {
  background-color: #560000;
  border-radius: 5px;
  transition: 0.3s ease;
}

.menu li {
  padding: 5px 14px;
}

/* DROPDOWN MENU */
.services {
  position: relative; 
}

.dropdown {
  background-color: rgb(1, 139, 139);
  padding: 1em 0;
  position: absolute; /WITH RESPECT TO PARENT/
  display: none;
  border-radius: 8px;
  top: 35px;
}

.dropdown li + li {
  margin-top: 10px;
}

.dropdown li {
  padding: 0.5em 1em;
  width: 8em;
  text-align: center;
}

.dropdown li:hover {
  background-color: #4c9e9e;
}

.services:hover .dropdown {
  display: block;
}

/* RESPONSIVE NAVBAR MENU STARTS */

/* CHECKBOX HACK */

input[type=checkbox] {
  display: none;
} 

/* HAMBURGER MENU */
.hamburger {
  display: none;
  font-size: 24px;
  user-select: none;
}

/* APPLYING MEDIA QUERIES */
@media (max-width: 768px) {
 .menu {
    display:none;
    position: absolute;
    background: linear-gradient(to right, rgb(77, 0, 0), rgb(124, 0, 0));
    right: 0;
    left: 0;
    margin-top: 28px;
    text-align: center;
    padding: 16px 0;
    border-bottom: solid 4px white;
  }

  .menu li:hover {
    display: inline-block;
    background-color:#560000;
    transition: 0.3s ease;  
  }

  .menu li + li {
    margin-top: 12px;
    
  }
  


  input[type=checkbox]:checked ~ .menu {
    display: block;
  }

  .hamburger {
    display: block;
  }

  .dropdown {
    left: 50%;
    top: 30px;
    transform: translateX(35%);
  }

  .dropdown li:hover {
    background-color: #4c9e9e;
  }
}









.main{
display: flex;
justify-content: space-evenly;
}
.para{
  margin-left: 5%;
  margin-right: 5%;
margin-top: 14px;
}

@media (max-width: 1168px) {
.main{
display: block;
justify-content: space-evenly;
}
.social-button{
  width: 80%;

}
.para{
  margin-left: 4%;
  margin-right: 2%;
  margin-bottom: 8px;
  margin-top: 14px;
  width: 90%;
  display: flex;
  justify-content: center;
  text-align: center;
}

.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  
  
}
#contact{
  margin-top: -14%;
  display: flex;
  justify-content: center;
  font-size: 28px;
}
.logo{
  font-size: 20px;
}

h2{
  font-size: 28px;
}
}
@media (min-width: 1168px) {

  .button-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    width: 3000px;
    margin-top: -9%;
    margin-right: -2%;
  
}

#text-para{
    margin-top: 40px;
}
#contact{
  margin-top: -2%;
  display: flex;
  margin-left: 10%;
  font-size: 38px;
}
h2{
  font-size: 45px;
}
}
body {
    background: linear-gradient(to right, rgb(77, 0, 0), rgb(124, 0, 0));
  /* Replace #color1 and #color2 with your desired gradient colors */
}

.ft1{
    background-color: white;
}
.divider {
    width: 95%;
    margin: 20px auto;
    height: 4px;
    background: linear-gradient(to right, transparent, #6c0000, transparent);
}
